@using RssSE.WebApp.MVC.Extensions
@model IEnumerable<RssSE.WebApp.MVC.Models.ProductViewModel>

@{
    ViewData["Title"] = "Todos os produtos";
}

<section>
    <div>
        <div style="background-image: url(images/banners/Template.jpg); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover">
            <div style="text-align: center;">
                <img src="~/images/banners/nerdstore.png" />
            </div>
        </div>
        <div class="container" style=" padding-top: 20px">
            <div class="row">
                @{
                    foreach (var produto in Model.OrderBy(p => p.ProductName))
                    {
                        <div class="col-md-3">
                            <div href="#" class="card card-product-grid">
                                <a asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@produto.Id" class="img-wrap">
                                    <img src="~/images/produtos/@produto.Image" alt="@produto.ProductName">
                                </a>
                                <figcaption class="info-wrap">
                                    <a asp-controller="Catalogo" asp-action="ProdutoDetalhe" asp-route-id="@produto.Id" class="title">
                                        <b> @produto.ProductName</b>
                                    </a>

                                    <small class="card-text">
                                        @this.StockMessage(produto.StockAmount)<br /><br />
                                        @produto.Description
                                    </small>
                                </figcaption>
                                <div class="card-footer price mt-1">
                                    <h3>@this.FormatCurrency(produto.Value)</h3>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>